html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
font-family: sans-serif;
color: rgb(28, 40, 66);
background-image: linear-gradient(rgb(133, 148, 179),rgb(163, 178, 209));
margin: 0 auto;
}

p:not(header p), li {
margin: 25px;
}

code p {
background-color: rgba(188, 200, 226, 0.5);
padding: 20px;
border-radius: 15px;
}

table {
margin: 25px;
border-radius: 5px;
width: calc(100% - 50px);
}

table th {
padding: 15px;
background-color: rgba(188, 200, 226, 0.5);
letter-spacing: 1px;
}

table th:first-of-type {
text-align: right;
border-radius: 15px 0 0 0;
}

table th:last-of-type {
text-align: left;
  border-radius: 0 15px 0 0;
}

table td {
background-color: rgba(188, 200, 226, 0.25);
padding: 10px;
}

table td:first-of-type {
text-align: right;
padding-left: 20px;
}

table td:last-of-type {
padding-right: 20px;
}

table tr:last-of-type td:first-of-type {
border-radius: 0 0 0 15px;
}

table tr:last-of-type td:last-of-type {
border-radius: 0 0 15px 0;
}

footer {
padding: 1px;
text-align: center;
background-color: rgba(188, 200, 226, 0.25);
width: 100%;
}

#main-header {
text-align: center;
margin: 50px 0;
color: rgb(28, 40, 66);
}

#main-header h1 {
margin-bottom: 15px;
}

#nav-background {
background-color: rgb(188, 200, 226);
position: sticky;
bottom: 0;
}

#nav-header p {
text-align: center;
padding: 10px;
color: rgb(188, 200, 226);
background-color: rgba(48, 60, 86);
}

#nav-links {
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
padding: 10px 25px 25px 25px;
}

#reference a {
cursor: pointer;
border: none;
padding: 7.5px;
border-radius: 7.5px;
color: rgb(28, 40, 66);
background-color: rgba(188, 200, 226, 0.5);
text-decoration: none;
font-size: 15px;
}

#introduction ul,
#preface ul,
#while_statements ul
#function_declarations ul {
padding: 10px 20px !important;
}

#introduction ul,
#preface ul,
#hello_world > div > div,
#declaring_variables > div > div,
#variable_scope > div > div,
#constants > div > div,
#if_-_else_statements > div > div,
#while_statements > div > div,
#while_statements ul,
#function_declarations > div > div,
#function_declarations ul {
background-color: rgba(188, 200, 226, 0.25);
padding: 5px;
margin: 25px;
border-radius: 15px;;
}

.section-header h2 {
background-color: rgba(28, 40, 66, 0.75);
color: rgb(188, 200, 226);
padding: 10px 15px;
border-radius: 10px;
}

.nav-link {
border-radius: 10px;
border: none;
padding: 10px;
background-color: rgb(48, 60, 86);
color: rgb(188, 200, 226);
cursor: pointer;
text-decoration: none;
font-size: 13px;
}

.nav-link:hover {
background-color: rgb(68, 80, 106);
}

.main-section {
max-width: 1500px;
min-width: 250px;
margin: 0 auto;
padding: 0 50px;
}

@media screen and (max-width: 925px) {
  p:not(header p), li {
    margin: 15px 0;
  }

  #nav-links {
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
}

#introduction ul,
#preface ul,
#while_statements ul,
#function_declarations ul {
padding: 10px 30px !important;
}

#introduction ul,
#preface ul,
#hello_world > div > div,
#declaring_variables > div > div,
#variable_scope > div > div,
#constants > div > div,
#if_-_else_statements > div > div,
#while_statements > div > div,
#while_statements ul,
#function_declarations > div > div,
#function_declarations ul {
background-color: rgba(188, 200, 226, 0.25);
padding: 10px 20px;
margin: 10px 0;
border-radius: 15px;;
}

.main-section {
  padding: 0;
  margin: 10px;
}

.main-section div {
  margin: 0 15px;
}
}